
@{
    ViewBag.Title = "Index";
}

<div class="team-chapter row" style="padding-top:75px;">
    <div class="col-lg-5">
        <div class="team-ueberschrift"><center style="padding-top: 15%;">Geschäftsführung</center></div>
        <div class="team-text"><center>Patrick Silly</center></div>
    </div>
    <div class="col-lg-2">
        <center><img src="~/Content/img/team_male.png" /></center>
    </div>
    <div class="col-lg-5">
        <div class="team-text" style="padding-top:15%;">
            <center>Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. </center>
        </div>
    </div>
</div>

<div class="team-chapter row">
    <div class="col-lg-4">
        <center><img src="~/Content/img/team_male.png" /></center>
    </div>
    <div class="col-lg-8">
        <div class="team-ueberschrift">
            <center>Position</center>
        </div>
        <br/>
        <div class="team-text">
            <center>Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. </center>
        </div>
    </div>
</div>
<div class="team-chapter row">
    <div class="col-lg-8">
        <div class="team-ueberschrift">
            <center>Position</center>
        </div>
        <br />
        <div class="team-text">
            <center>Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. </center>
        </div>
    </div>
    <div class="col-lg-4">
        <center><img src="~/Content/img/team_woman.png" /></center>
    </div>
</div>
<div class="team-chapter row">
    <div class="col-lg-4">
        <center><img src="~/Content/img/team_male.png" /></center>
    </div>
    <div class="col-lg-8">
        <div class="team-ueberschrift">
            <center>Position</center>
        </div>
        <br />
        <div class="team-text">
            <center>Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. </center>
        </div>
    </div>
</div>
<div class="team-chapter row">
    <div class="col-lg-8">
        <div class="team-ueberschrift">
            <center>Position</center>
        </div>
        <br />
        <div class="team-text">
            <center>Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. </center>
        </div>
    </div>
    <div class="col-lg-4">
        <center><img src="~/Content/img/team_woman.png" /></center>
    </div>
</div>
<div class="team-chapter row">
    <div class="col-lg-4">
        <center><img src="~/Content/img/team_male.png" /></center>
    </div>
    <div class="col-lg-8">
        <div class="team-ueberschrift">
            <center>Position</center>
        </div>
        <br />
        <div class="team-text">
            <center>Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. </center>
        </div>
    </div>
</div>
<div class="team-chapter row">
    <div class="col-lg-8">
        <div class="team-ueberschrift">
            <center>Position</center>
        </div>
        <br />
        <div class="team-text">
            <center>Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. Beispieltext. </center>
        </div>
    </div>
    <div class="col-lg-4">
        <center><img src="~/Content/img/team_woman.png" /></center>
    </div>
</div>
