
@{
    ViewBag.Title = "Buchung4";
}

<h2 class="buchung_title">Vielen Dank für ihre Bestellung !</h2

<div class="buchung_kontrolle">
    Bitte kontrollieren Sie hier nochmals Ihre Daten: <br />
</div>

<div>
    Wir haben folgende Daten von ihnen erhalten:
    .....

    ....

    .

    ......

    .....

    .....
    ..
    .......
</div>