@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container">
        <div class="row">
            <div class="3">
                <ul>
                    <li><a href="#">Einzelzimmer</a></li>
                    <li><a href="#">Komfort Einzelzimmer</a></li>
                    <li><a href="#">Juniorsuite</a></li>
                    <li><a href="#">Suite Tirol</a></li>
                    <li><a href="#">Zirbensuite</a></li>
                    <li><a href="#">Gletschersuite</a></li>
                    <li><a href="#">Suite Alpenstern</a></li>
                </ul>
            </div>
        </div>
        <div class="9">
            übersicht bilder
        </div>
    </div>
</body>