<h1 class="zimmer-ueberschrift">Zimmer</h1>

<div class="row">
    <nav class="col-md-3 list-group">
        <a href="einzelzimmer" class="list-group-item">Einzelzimmer</a>
        <a href="kEinzelzimmer" class="list-group-item">Komfort Einzelzimmer</a>
        <a href="Juniorsuite" class="list-group-item">Juniorsuite</a>
        <a href="SuiteTirol" class="list-group-item">Suite Tirol</a>
        <a href="Zirbensuite" class="list-group-item">Zirbensuite</a>
        <a href="Gletschersuite" class="list-group-item">Gletschersuite</a>
        <a href="SuiteAlpenstern" class="list-group-item">Suite Alpenstern</a>
    </nav>
    <div class="col-md-7">
        <form class="form-inline">
            <input type="date" class="form-control" id="arrival" name="arrival" />
            <input type="date" class="form-control" id="departure" name="departure" />
            <input type="submit" class="btn btn-default" value="Filtern" />
        </form>

        <div class="container col-lg-12 zimmercontainer">

            <div class="zimmertext z_starttext">
                    Je nach Wunsch, bis zu 77m&sup2;, schöner Tiroler Landhausstil in bester
                    Ausstattung, Doppelzimmer und Suiten mit kachelofen, Balkon, flat-TV,
                    Internetanschluss und Badezimmer
            </div>

            <div class="zimmertext z_starttext">
                Im Zimmer: Spa-Tasche mit Bademantel &amp; Badeschuhen für Ihren Aufenthalt
            </div>

            <div class="zimmertext z_starttext">
                Zimmer mit Holzfußböden und Allergiker-Bettwäsche
            </div>

        </div>

    </div>
</div>
<div class="container ">
    <div class="row">
        <div class="col-lg-12 text-center ">
            <img src="~/Content/images/img-zimmer/logo_transparent.png" style="max-height:450px;    max-height: 300px; float: right; margin-top: 7%; " />
        </div>
    </div>
</div> 


