<h1>Zimmer</h1>

<div class="row">
	<nav class="col-md-3 list-group">
		<a href="#" class="list-group-item">Einzelzimmer</a>
		<a href="#" class="list-group-item">Komfort Einzelzimmer</a>
		<a href="#" class="list-group-item">Juniorsuite</a>
		<a href="#" class="list-group-item">Suite Tirol</a>
		<a href="#" class="list-group-item">Zirbensuite</a>
		<a href="#" class="list-group-item">Gletschersuite</a>
		<a href="#" class="list-group-item">Suite Alpenstern</a>
	</nav>
	<div class="col-md-7">
		<form class="form-inline">
			<input type="date" class="form-control" id="arrival" name="arrival" />
			<input type="date" class="form-control" id="departure" name="departure" />
			<input type="submit" class="btn btn-default" value="Filtern"/>
		</form>
		<div class="panel panel-default zimmer">
			<img src="~/Content/images/img-zimmer/Einzelzimmer.jpg" alt="Einzelzimmer" />
		</div>
	</div>
</div>