
@{
    ViewBag.Title = "spar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h1>Willkommen in unserem Restaurant</h1>
</div>
<table class="text-center imgkul">
    <tr>
        <td>
            <img class="imgkul" src="~/Content/images/img-hotel/Alpenstern_Fruehstuecksbuffet.jpg" /><br />
            Unser reichhaltiges Exzellenz-Frühstücksbuffet von 7:30 - 11:00 Uhr. Tiroler Spezialitäten vom Buffet, Süßes & Herzhaftes für den Start in den Tag.
        </td>


        <td>
            <img class="imgkul" src="~/Content/images/img-hotel/Alpenstern_Gourmet.jpg" /><br />
            Unsere Mahlzeiten
        </td>

        <td>
            <img class="imgkul" src="~/Content/images/img-hotel/Alpenstern_Kulinarik_2000x750.jpg" />
            <br /> Kulinarik im leckersten Sinne
        </td>

        <td>
            <img class="imgkul" src="~/Content/images/img-hotel/Alpenstern_Kulinarik_900x600.jpg" />
            <br /> Ein Traum einer Mahlzeit
        </td>
    </tr>
</table><br /><br />
<div class="text-center">
    <img src="~/Content/images/1484720716-8714-speisekarte3.jpg" width="900" />
</div>
