
@{
    ViewBag.Title = "spar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <center><h1 class="ueberschrift">Willkommen in unserem Restaurant !</h1></center>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <img class="imgkul" src="~/Content/images/img-hotel/Alpenstern_Fruehstuecksbuffet.jpg" /><br /><br />
            <p class="textStyle">Unser reichhaltiges Exzellenz-Frühstücksbuffet von<br /> <span style="font-weight: bold">7:30-11:00 Uhr</span>.<br /> Tiroler Spezialitäten vom Buffet, Süßes & Herzhaftes für den Start in den Tag.</p>
        </div>
        <div class="col-lg-3">
            <img class="imgkul" src="~/Content/images/img-hotel/Alpenstern_Gourmet.jpg" /><br /><br />
            <p class="textStyle"><span style="font-weight:bold">Alpenstern-Genussreigen am Abend</span><br />5-Gänge -Gourmetmenü mit Wahlmöglichkeit, Zellertaler Spezialitäten, Gladinner, Vitalmenüs, Themenabende, Degustationsmenüs, Vorspeisen-, Salat - und Dessertbuffets.</p>
        </div>

        <div class="col-lg-3">
            <img class="imgkul" src="~/Content/images/img-hotel/images.jpg" />
            <br /><br /> <p class="textStyle"><span style="font-weight:bold">Kulinarik im leckersten Sinne.</span><br /> Die Alpensternküche bezieht ihre Wurst-und Fleischprodukte teilweise vom eigenen Bauernhof sowie von regionalen Lieferanten unseres Vertrauens.<br />Produkte wie Heumilchbutter, Käse genießen sie von der ErlebnisSennerei Zellertal und das ofenfrische Brot & Gebäck beziehen wir von der Dorfbäckerei Stock in Jagersbach.</p>
        </div>

        <div class="col-lg-3">
            <img class="imgkul" src="~/Content/images/img-hotel/Alpenstern_Kulinarik_900x600.jpg" />
            <br /><br /> <p class="textStyle"><span style="font-weight:bold">Ein Traum einer Mahlzeit.</span><br />1x wöchentlich laden wir zum ausgezeichneten Galadinner. Mit weiteren kulinarischen Themenabenden verwöhnen wir Sie laut unserem Wochenprogramm</p>
        </div>
    </div>
</div><br /><br />
<div class="container">
    <p class="pMA">Bei Fragen wenden Sie sich bitte an unsere, bestens ausgebildeten Mitarbeiter.</p>
</div>
