
@{
    ViewBag.Title = "spar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <center><h1 class="ueberschrift">Willkommen in unserem Restaurant !</h1></center>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <img class="imgkul" src="~/Content/images/img-hotel/Alpenstern_Fruehstuecksbuffet.jpg" /><br /><br />
            <h3 class="h3Kulinarik">Unser reichhaltiges Exzellenz-Frühstücksbuffet</h3><br /><br /> <p class="time"> 7:30-11:00 Uhr</p>.<br /> <p class="textStyle">Tiroler Spezialitäten vom Buffet, Süßes & Herzhaftes für den Start in den Tag.</p>
        </div>
        <div class="col-lg-3">
            <img class="imgkul" src="~/Content/images/img-hotel/Alpenstern_Gourmet.jpg" /><br /><br />
            <h3 class="h3Kulinarik">Alpenstern-Genussreigen am Abend</h3><br /><p class="textStyle">&diams; 5-Gänge -Gourmetmenü<br />&diams; Zellertaler Spezialitäten<br /> &diams; Gladinner<br /> &diams; Vitalmenüs<br /> &diams; Themenabende<br /> &diams; Degustationsmenüs<br /> &diams; Vorspeisen & Salatbuffets<br /> &diams; Desserspezialitäten</p>
        </div>

        <div class="col-lg-3">
            <img class="imgkul" src="~/Content/images/img-hotel/images.jpg" />
            <br /><br /><h3 class="h3Kulinarik">Kulinarik im leckersten Sinne.</h3><br /><br /><p class="textStyle"> Die Alpensternküche bezieht ihre Wurst-und Fleischprodukte teilweise vom <strong>eigenen Bauernhof</strong> sowie von regionalen Lieferanten unseres Vertrauens.<br />Produkte wie Heumilchbutter, Käse genießen sie von der <strong>ErlebnisSennerei Zellertal</strong> und das ofenfrische Brot & Gebäck beziehen wir von der <strong>Dorfbäckerei Stock</strong> in Jagersbach.</p>
        </div>

        <div class="col-lg-3">
            <img class="imgkul" src="~/Content/images/img-hotel/Alpenstern_Kulinarik_900x600.jpg" />
            <br /><br /> <h3 class="h3Kulinarik">Ein Traum einer Mahlzeit.</h3><br /><br /><p class="textStyle">1x wöchentlich laden wir zum ausgezeichneten Galadinner. Mit weiteren kulinarischen Themenabenden verwöhnen wir Sie laut unserem Wochenprogramm.</p>
        </div>
    </div>
</div><br /><br />
<div class="container">
    <p class="pMA">Bei Fragen wenden Sie sich bitte an unsere, bestens ausgebildeten Mitarbeiter.</p>
</div>
