
@{
    ViewBag.Title = "Index";
}
<section id="login">
    <div class="container">
        <div class="row">
                
                <div class="form-wrap">
                    <h1>LOGIN</h1>
                    <form method="post" id="login-form">
                        <div class="form-group">
                            <label for="benutzername" class="label_icon">
                                <img class="label_icon" src="~/Content/img/contact_icon.png" /></label>
                            <input type="text" name="benutzername" id="benutzername" class="form-control" placeholder="Benutzername">
                        </div>
                        <div class="form-group">
                            <label for="passwort" class="label_icon">
                                <img class="label_icon" src="~/Content/img/pw_icon.png" /></label>
                            <input type="password" name="passwort" id="passwort" class="form-control" placeholder="Passwort" />
                        </div>
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Login">
                    </form>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
<div class="modal fade forget-modal" tabindex="-1" role="dialog" aria-labelledby="myForgetModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header"  style="background-color:#f2ebde;">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Passwort zurücksetzen</h4>
            </div>
            <div class="modal-body">
                <p>Email Adresse eingeben</p>
                <input type="email" name="recovery-email" id="recovery-email" class="form-control" autocomplete="off">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-custom">Zurücksetzen</button>
            </div>
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

