@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row anr_row">
    <div class="col-md-6 anr_txtbox">
        <h2 class="anr_title">So kommen Sie zu uns:</h2>
        <div class="anr_text">
            &diams; Sie fahren auf der Autobahn A2 an der Ausfahrt Dirnsdorf ab.
        </div><br />
        <div class="anr_text">
            &diams; Anschließen folgen Sie dem Straßenverlauf durch den Ort Dirnsdorf.
        </div><br />
        <div class="anr_text">
            &diams; Beim Ortsende biegen Sie rechts ab.
        </div><br />
        <div class="anr_text">&diams; ca. 50 meter danach biegen Sie links ab.</div><br />
        <div class="anr_text">&diams; Fahren Sie die Straße bis sie zum Ende ist und biegen Sie links ab.</div><br />
        <div class="anr_text">&diams; Sie befinden sich nun auf Schneeberg.</div><br />
        <div class="anr_textend">&diams; Folgen Sie dem Straßenverlauf bis zum Hotel Alpenstern.</div>
        
    </div>
    <div class="col-md-6">
        <img class="anr_map" src="~/Content/images/map.png" />
    </div>
</div>

