@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="text-center"><h1 class="r_header">Rückrufservice</h1></div>
    <div class="container">
        <div class="row">

            <div class="col col-lg-5 ">
                <p>
                    <h3 class="r_ueb">Sie wünschen einen Rückruf?</h3>
                    Füllen Sie das Formular aus und beschreiben Sie kurz ihr Anliegen.<br />
                    Mit freundlichen Grüssen, Ihr Hotel Alpenstern-Team.<br /><br />
                </p>

                <form action="" method="post">
                    <div class="form-group">
                        <label for="vorname">Vorname:</label>
                        <input type="text" class="form-control" id="vorname">
                    </div>
                    <div class="form-group">
                        <label for="nachname">Nachname:</label>
                        <input type="text" class="form-control" id="nachname">
                    </div>
                    <div class="form-group">
                        <label for="rufnummer">Rufnummer:</label>
                        <input type="text" class="form-control" id="rufnummer">
                    </div>
                    <div class="form-group">
                        <label for="nachricht">Nachricht:</label><br />
                        <textarea style="height: 125px; width: 280px"></textarea>
                    </div>

                    @*<div class="checkbox">
                        <label><input type="checkbox"> Ich stimme zu, das meine Rufnummer zum Zweck des Rückrufes gespeichert wird.</label>
                    </div>*@
                    <button type="submit" class="btn btn-default">Absenden</button>
                </form>
            </div>


            <div class="col-lg-7">
                <img class="r_image" src="~/Content/images/rückruf/phone-call.jpeg" />

            </div>
        </div>

    </div>
</div>
