@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="text-center"><h1 class="r_header">Rückrufservice</h1></div>
    <div class="container">
        <div class="row">

            <div class="col col-lg-5 ">
                <p>
                    Sie wünschen einen Rückruf für eventuelle Fragen oder eines Anliegens.<br />
                    Schicken Sie uns Ihre Rufnummer unter der wir sie zurück rufen können.<br />
                    Mit freundlichen grüssen, Ihr Hotel Team
                </p>

                <form action="" method="post">
                    <div class="form-group">
                        <label for="vorname">Vorname:</label>
                        <input type="text" name="vor" class="form-control" id="vorname">
                    </div>
                    <div class="form-group">
                        <label for="nachname">Nachname:</label>
                        <input type="text" name="nach" class="form-control" id="nachname">
                    </div>
                    <div class="form-group">
                        <label for="rufnummer">Rufnummer:</label>
                        <input type="text" name="ruf" class="form-control" id="rufnummer">
                    </div>
                    <div class="form-group">
                        <label for="nachricht">Nachricht</label><br />
                        <textarea style="height:125px; width:280px"></textarea>
                    </div>
                    @*<div class="checkbox">
                        <label><input type="checkbox"> Ich stimme zu, das meine Rufnummer zum Zweck des Rückrufes gespeichert wird.</label>
                    </div>*@
                    <button type="button" class="btn" value="senden">Absenden</button>
                </form>
            </div>



            <script>
    function f_ajax() {
        //alert("ok");
        $.ajax({
            url:"/Rueckrufs",//controller erreichen wohin geht dieser link
            data:{vor: $("#vorname").val(),nach:$("#nachname").val(),ruf:$("#rufnummer").val()}, //er sucht den mit # die werte vorname und nachname
            method:"post"
        }).done(function(msg) {

            console.log(msg);
        })
    }
            </script>





            <div class="col-lg-7">
                <img class="r_image" src="~/Content/images/rückruf/phone-call.jpeg" />

            </div>
        </div>

    </div>
</div>
