@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
   <div class="text-center"><h1>Rückruf Service</h1></div> 
    <p>Sie wünschen einen Rückruf für eventuelle Fragen oder eines Anliegens.<br />
    Schicken Sie uns Ihre Rufnummer unter der wir sie zurück rufen können.<br />
    Mit freundlichen grüssen, Ihr Hotel Team</p>
</div>

