@{
    ViewBag.Title = "Spa-Bereich";
}


<body>
    <div>
    <h1>Willkommen in unserem Spa und Wellnes Bereich</h1>
    </div>
    @*<div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="~/Content/images/img-hotel/AlpenSpa_außen_1.jpg" class="thumbnail">
                <img src="~/Content/images/img-hotel/AlpenSpa_außen_1.jpg" height="240" /></a></div>
                <div class="col-lg-6">Hier ist ein Bild von unserem Außenbereich</div>
        </div><br />
        <div class="row">
            <div class="col-lg-6"><img src="~/Content/images/img-hotel/AlpenSpa_außen_2.jpg" height="240" /></div>
            <div class="col-lg-6">Hier ist ein Bild von unserem Außenbereich</div>
        </div>*@

    *******************************************************************

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Content/images/img-hotel/AlpenSpa_außen_1.jpg" alt="...">
                <div class="caption">
                    <h3>Hier ist ein Bild von unserem Außenbereich</h3>
                    <p>In unserem Außenbereich erleben sie entspannung pur, sofern sie ein dickes taschel haben!!!</p>
                    <p><a href="~/Content/images/img-hotel/AlpenSpa_außen_1.jpg" target="_blank" class="btn btn-primary" 
                          role="button">Vollansicht</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
   
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Content/images/img-hotel/AlpenSpa_außen_1.jpg" alt="...">
                <div class="caption">
                    <h3>Hier ist ein Bild von unserem Außenbereich</h3>
                    <p>In unserem Außenbereich erleben sie entspannung pur, sofern sie ein dickes taschel haben!!!</p>

                    <p>
                        <a href="~/Content/images/img-hotel/AlpenSpa_außen_1.jpg" target="_blank" class="btn btn-primary"
                           role="button">Vollansicht</a> <a href="#" class="btn btn-default" role="button">Button</a>
                    </p>
                </div>
            </div>
        </div>
    
    
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Content/images/img-hotel/AlpenSpa_außen_2.jpg" alt="...">
                <div class="caption">
                    <h3>Hier ist ein Bild von unserem Außenbereich</h3>
                    <p>In unserem Außenbereich erleben sie entspannung pur, sofern sie ein dickes taschel haben!!!</p>

                    <p>
                        <a href="~/Content/images/img-hotel/AlpenSpa_außen_1.jpg" target="_blank" class="btn btn-primary"
                           role="button">Vollansicht</a> <a href="#" class="btn btn-default" role="button">Button</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

