
@{
    ViewBag.Title = "spar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>spar</h2>

<div>
    <h1>Willkommen in unserem Spa und Wellnes Bereich</h1>
</div>
<div class="row"></div>
<div class="col-lg-6"><img src="~/Content/images/img-hotel/AlpenSpa_außen_1.jpg" /></div>
<div class="col-lg-6">Hier ist ein Bild von unserem Außenbereich</div>