body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url('themes/base/images/AppWerbeLogo.png') no-repeat;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.containerHandy{
    position:absolute;
    left:198px;
    top:290px;
}

.MobileContainerHandy{
    position:absolute;
    left: 200px;
    top: 300px;
    width: 265px;
}

.AppStoreButtons{
    position:absolute;
    left:490px;
    top:600px;
}

.MobileAppStoreButtons{
    position:absolute;
    left:155px;
    top:830px;
    display:inline-block;
    height:100px; 
}
.MobileBackground{
    
    position:absolute;
    left:10px;
    top:250px;
}



