
/* #region Fonts */

@font-face {
    font-family: 'Marcellus-Regular';
    src: url('../fonts/Marcellus-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Dancing in the Rainbow';
    src: url('../fonts/Dancing in the Rainbow.ttf') format('truetype');
}

@font-face {
    font-family: 'NellaSueDEMO';
    src: url('../fonts/NellaSueDEMO.ttf') format('truetype');
}

@font-face {
    font-family: 'KGWaystoSayGoodbye';
    src: url('../fonts/KGWaystoSayGoodbye.ttf') format('truetype');
}

@font-face {
    font-family: 'DJ5CTRIAL';
    src: url('../fonts/DJ5CTRIAL.ttf') format('truetype');
}

@font-face {
    font-family: 'Always In My Heart';
    src: url('../fonts/Always In My Heart.ttf') format('truetype');
}
/* #endregion */



body {
    padding-top: 75px;
    padding-bottom: 20px;
    background-color: #f2ebde;
}

.label_icon {
    height: 25px;
    width: 25px;
    float: right;
    position: center;
    margin-top: 2px;
    margin-right: 10px;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 40px 15px 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body, h1 {
    font-family: 'Marcellus-Regular';
}


/* #region rueckruf*/

.r_header {
    margin-top: 60px;
    padding-bottom: 60px;
    color: #5D4037;
    font-weight: bold;
}

.r_image {
    border: solid 1px #5D4037;
    border-radius: 10px;
    box-shadow: 7px 12px 20px 5px #5D4037;
    max-height: 80%;
    max-width: 80%;
    margin-left: 90px;
}


/* #endregion*/

/*#region Login Section */
#login {
    padding-top: 50px;
}

    #login .form-wrap {
        width: 30%;
        margin: 0 auto;
    }

    #login h1 {
        color: #5D4037;
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        padding-bottom: 20px;
    }

    #login .form-group {
        margin-bottom: 25px;
    }

    #login .checkbox {
        margin-bottom: 20px;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

        #login .checkbox.show:before {
            content: '\e013';
            color: #5D4037;
            font-size: 17px;
            margin: 1px 0 0 3px;
            position: absolute;
            pointer-events: none;
            font-family: 'Glyphicons Halflings';
        }

        #login .checkbox .character-checkbox {
            width: 25px;
            height: 25px;
            cursor: pointer;
            border-radius: 3px;
            border: 1px solid #ccc;
            vertical-align: middle;
            display: inline-block;
        }

        #login .checkbox .label {
            color: #5D4037;
            font-size: 13px;
            font-weight: normal;
        }

    #login .btn.btn-custom {
        font-size: 14px;
        margin-bottom: 20px;
    }

    #login .forget {
        font-size: 13px;
        text-align: center;
        display: block;
    }
/*#endregion */

/*#region Inputs & Buttons */
.form-control {
    color: #5D4037;
}

.btn-custom {
    font-weight: 500;
    color: #f2ebde;
    background-color: #5D4037;
}

    .btn-custom:hover,
    .btn-custom:focus {
        color: #f2ebde;
    }
/*#endregion */

/* #region kulinarik*/

.imgkul {
    max-height: 250px;
    max-width: 250px;
    padding: 20px 20px 20px 20px;
    box-shadow: inset 0px 0px 12px 1px #5D4037;
}


.ueberschrift{
    padding-top: 35px;
    padding-bottom:80px; 
    color: #5D4037;
}

.textStyle{
    text-align: left;
    color: #5D4037;
    font-size: 16px;

}

.time{
    font-weight: bold;
    text-align:center;
    color:#5D4037; 
    font-size: 22px;
}

.pMA{
    text-align:center;
    font-size: 22px;
    color:#5D4037;
    font-weight:bold;
}

.h3Kulinarik{

    font-family: Marcellus-Regular;
    color: #5D4037;
    text-align:center;
}

#color{
    color:#5D4037;
}

/* #endregion */

/* #region kulinarik*/

.imgkul {
    max-height: 250px;
    max-width: 250px;
    padding: 20px 20px 20px 20px;
    box-shadow: inset 0px 0px 12px 1px #5D4037;
}


.ueberschrift {
    padding-top: 35px;
    padding-bottom: 80px;
    color: #5D4037;
}

.textStyle {
    text-align: left;
    color: #5D4037;
    font-size: 16px;
}

.time {
    font-weight: bold;
    text-align: center;
    color: #5D4037;
    font-size: 22px;
}

.pMA {
    text-align: center;
    font-size: 22px;
    color: #5D4037;
    font-weight: bold;
}

.h3Kulinarik {
    font-family: Marcellus-Regular;
    color: #5D4037;
    text-align: center;
}

#color {
    color: #5D4037;
}

/* #endregion */

/*#region Footer */

footer {
    height: 22px;
    background-color: white;
    color: #5D4037;
    font-size: 14px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.agbFont {
    color: #5D4037;
    text-decoration: none;
}

.btnAgbStyle {
    background-color: white;
    color: #5D4037;
    padding-top: 0px;
}

.btnImprStyle {
    color: #5D4037;
}

/*#endregion */

/*#region startseite */
.panel-splash {
    text-align: center;
    border: solid 2px #5d4037;
    background-color: rgba(198, 177, 142, 0.60);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.50)20px 20px 20px;
    color: azure;
}

.start_carousel {
    margin-top: 12px;
    border: solid 0.5px #5D4037;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (min-width: 767px) /*sm*/
{
    .panel-splash {
        position: absolute;
        z-index: 2;
        top: 20%;
        left: calc(10px + 10%);
        width: 40%;
    }
}

.glyphicon-star {
    color: gold;
}
/*#endregion */

/*#region navbar */
.navlogo {
    max-height: 55px;
}

.navbar-default {
    box-shadow: 0 0 20px black;
    background-color: white;
}

.navicon {
    height: 25px;
    width: 25px;
}

nav ul li a {
    font-size: 16pt;
    font-weight: 600;
    font-family: Marcellus-Regular;
    color: #5D4037;
    margin: auto;
    top: 20px;
}

    nav ul li a:hover {
        background-color: #f2ebde;
    }

.navbar-default .navbar-nav > li > a {
    color: #5D4037;
    text-shadow: -4px 3px 8px #ccc;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #f2ebde;
    ;
    color: #5D4037;
}


.dropicon {
    height: 20px;
    width: 20px;
    margin-left: -12px;
    margin-right: 15px;
}

.navbar-default .navbar-toggle {
    border-color: #5D4037;
}

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #5D4037;
    }

.navbar-toggle {
    margin-top: 25px;
}


/*#endregion */

/*#region Appdownload */
.Content-Appdownload {
    background: url('img/App-Foto/APP-Hintergrund.png') no-repeat;
    height: 900px;
}

.position {
}

.HandyBackground {
    background: url('img/App-Foto/App-Foto1.png') no-repeat;
    position: relative;
    margin-left: 60px;
    margin-top: 300px;
    width: 80px;
    height: 250px;
}


/*#endregion */

/* #region Team */

.team-ueberschrift {
    font-size: 24px;
    font-family: Marcellus-Regular;
    position: center;
    color: #5D4037;
}

.team-text {
    font-family: Marcellus-Regular;
    color: #5D4037;
}

.team-chapter {
    border-bottom: 1px solid #5D4037;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* #endregion*/

/* #region GuestBook*/

.gb_form {
    padding-bottom: 15px;
}

#gb_textarea {
    height: 270.5px;
    width: 100%;
    max-width: 287px;
    padding-top: 30px;
}

.gb_form_last {
    padding-bottom: 50px;
}

.gb_ueberschrift {
    font-family: Marcellus-Regular;
    padding-bottom: 7.5px;
    text-align: center;
    padding-top: 15px;
    font-size: 70px;
    text-shadow: -3px 3px 10px #5D4037;
    color: #ffffff;
}

.guestbook {
    background: url('images/guestbook.png') no-repeat;
    height: 700px;
    width: 680px;
    margin-right: -3%;
}

.form_font {
    font-size: 16px;
    color: #5D4037;
}

.gb_button {
    position: center;
    margin-top: 25px;
    margin-left: 27.5%;
}

.gb_intro {
    font-size: 14px;
    color: #5D4037;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #5D4037;
}

.gb_text {
    text-align: center;
    font-family: 'Always In My Heart';
    font-size: 20px;
    color: navy;
}

.gb_name {
    font-size: 32px;
    font-weight: bold;
    color: navy;
}





/* Makes images fully responsive */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    width: 100%;
    height: auto;
}



/* ------------------- Section Styling - Not needed for carousel styling ------------------- */

.gb_section-white {
    padding: 10px 0;
    height: 485px;
    width: 560px;
    position: center;
    margin-left: 8%;
/* #region history */

.imgHist {
    border: solid 2px #5d4037;
    border-radius: 10px;
  
    padding-left:0px;
    padding-right:0px;
}

.imgHist *
{
    border-radius: inherit;
}

.histHeader {
    text-align:center;
    font-family: 'Marcellus-Regular';
    color: #5D4037;
    margin-top: 50px;

.gb_section-white {
    background-color: transparent;
    color: #555;
}

@media screen and (min-width: 768px) {

    .gb_section-white {
        padding: 1.5em 0;
    }
}

@media screen and (min-width: 992px) {

    .gb_container {
        max-width: 930px;
    }
}


/* #endregion*/

/* #region history */

.imgHist {
    border: solid 2px #5d4037;
    border-radius: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

    .imgHist * {
        border-radius: inherit;
    }

.histHeader {
    text-align: center;
    font-family: 'Marcellus-Regular';
    color: #5D4037;
    margin-top: 50px;
}
/*#endregion */

/* #region Spa & Wellness */

.blogShort {
    border-bottom: 1px solid #5D4037;
}

.add {
    background: #5D4037;
    padding: 10%;
    height: 300px;
}

.nav-sidebar {
    width: 100%;
    padding: 30px 0;
    border-right: 1px solid black;
}

    .nav-sidebar a {
        color: #5D4037;
        -webkit-transition: all 0.08s linear;
        -moz-transition: all 0.08s linear;
        -o-transition: all 0.08s linear;
        transition: all 0.08s linear;
    }

    .nav-sidebar .active a {
        cursor: default;
        background-color: #5D4037;
        color: #fff;
    }

        .nav-sidebar .active a:hover {
            background-color: #5D4037;
        }

    .nav-sidebar .text-overflow a,
    .nav-sidebar .text-overflow .media-body {
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

.btn-blog {
    color: #ffffff;
    background-color: #5D4037;
    border-color: #E50000;
    border-radius: 0;
    margin-bottom: 10px;
}

    .btn-blog:hover,
    .btn-blog:focus,
    .btn-blog:active,
    .btn-blog.active,
    .open .dropdown-toggle.btn-blog {
        color: #5D4037;
        background-color: #5D4037;
        border-color: #0b56a8;
    }

article h2 {
    color: #5D4037;
    font-family: Marcellus-Regular;
}

h2 {
    color: #5D4037;
    font-family: Marcellus-Regular;
}

.margin10 {
    margin-bottom: 10px;
    margin-right: 10px;
}

.container .text-style {
    font-family: Marcellus-Regular;
    text-align: justify;
    line-height: 23px;
    margin: 0 13px 0 0;
    font-size: 19px;
}

.nav > li > a:focus {
    text-decoration: none;
    background-color: #5D4037;
}

.spa_head {
    padding-top: 15px;
    border-bottom: 1px solid black;
}

.spa_menu {
    padding-top: 50px;
}

.spa_text {
    font-family: Marcellus-Regular;
    font-size: 16px;
    padding-bottom: 3px;
}

.spa_bonus {
    font-family: Marcellus-Regular;
    font-size: 20px;
    padding-top: 35px;
}

.spa_header {
    text-shadow: 0px 1px 5px #5D4037;
    color: #f2ebde;
    padding-top: 15px;
    font-family: DJ5CTRIAL;
    font-size: 65px;
}

.spa_pic {
    height: 250px;
    width: 250px;
    box-shadow: 0px 0px 20px 0px black;
    border-radius: 10px;
}

.spa_footer {
    padding-top: 60px;
}




/* #endregion */

/* #region hotelumgebung */

/*--------------- 3DGallery------------*/




/*#endregion*/



.hotelumg_item {
    max-height: 70%;
    max-width: 70%;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    width: 15%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    opacity: 0.5;
}

    .carousel-control.right {
        right: 15px;
    }


.header_h3 {
    margin-top: 50px;
    font: Marcellus-Regular;
    color: #5D4037;
}


/* #endregion */



/*-------Regelt die Umstellung von Navbar auf Burgermenue bei 1000px----------- */
@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

        .navbar-collapse.collapse {
            display: none !important;
        }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }
}
.rand{
    border: 2px solid black;
}
/*#endregion */

/*#region Zimmer*/
.zimmerBilder
{
	margin-top: 20px;
    max-width: 350px;
    min-height: 234px;
    max-height:235px;
    border: solid 2px #5d4037;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.50)15px 15px 15px;
    margin-bottom:17px;
    margin-top:37px;
}
.zimmer-ueberschrift {
    font-size: 24px;
    font-family: Marcellus-Regular;
    position: center;
    color: #5D4037;
    margin-top: 50px;
    margin-bottom: 20px;
}
.zimmertext{
     font-family: Marcellus-Regular;
    color: #5D4037;
    margin-bottom:20px;   
    font-size:18px;
}
.zimmercontainer{
    margin-top:45px;
}
.zimmertextklein{
    margin-left: 15px;
    margin-top: 20px;
     font-family: Marcellus-Regular;
    color: #5D4037;
    margin-bottom:20px;   
}

.zimmerliste{
    padding-top: 25px;
    padding-left: 55px;
}
.z_starttext{
    border-bottom: 1.5px solid white;
     height:75px;
     margin-bottom:15px;
     text-align:center;
}
/*endregion*/